{{> header}}

<div class="container mt-5">
  <h2 class="display-4 text-center">Manage Classes for {{course.title}}</h2>
  
  <div class="row">
    {{#course.classes}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{day}} - {{date}}</h5>
            <p class="card-text">{{time}}</p>
            <p><strong>Location:</strong> {{location}}</p>
            <p><strong>Price per Class:</strong> £{{pricePerClass}}</p>

            <!-- Admin button to edit the class -->
            <a href="/organiser/classes/{{course._id}}/edit/{{_id}}" class="btn btn-primary">Edit Class</a>

            <!-- Button to view the list of participants for this class -->
            <a href="/organiser/classes/{{course._id}}/class-participants/{{_id}}" class="btn btn-info">View Class List</a>

            <!-- Form for deleting the class -->
            <form action="/courses/classes/{{course._id}}/delete/{{_id}}" method="POST" id="delete-form-{{_id}}">
              <button type="button" onclick="confirmDelete('{{course._id}}', '{{_id}}')" class="btn btn-danger">Delete Class</button>
            </form>
          </div>
        </div>
      </div>
    {{/course.classes}}
  </div>

  <p class="text-center mt-4">
    <a href="/organiser/dashboard" class="btn btn-secondary">Back to Dashboard</a>
  </p>
</div>

{{> footer}}

<script>
  function confirmDelete(courseId, classId) {
    // Confirm if the user wants to delete the class
    const confirmation = window.confirm("Are you sure you want to delete this class?");
    
    if (confirmation) {
      // If confirmed, submit the form
      document.getElementById('delete-form-' + classId).submit();
    }
  }
</script>