{{> header}}

<div class="container mt-5">
  <h2 class="display-4 text-center">Participants for Class on {{course.title}}</h2>
  
  <h3>Class Details:</h3>
  <p><strong>Day:</strong> {{course.classes[0].day}}</p>
  <p><strong>Date:</strong> {{course.classes[0].date}}</p>
  <p><strong>Time:</strong> {{course.classes[0].time}}</p>

  <h3>Participants:</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name/Email</th>
        <th scope="col">Booking Date</th>
      </tr>
    </thead>
    <tbody>
      {{#participants}}
        <tr>
          <td>{{userEmail}}</td>
          <td>{{bookedAt}}</td>
        </tr>
      {{/participants}}
    </tbody>
  </table>

  <p class="text-center mt-4">
    <a href="/organiser/dashboard" class="btn btn-secondary">Back to Dashboard</a>
  </p>
</div>

{{> footer}}