{{> header}}

<div class="container mt-5">
  <h2 class="display-4 text-center">Participants for {{courseTitle}} - Class on {{classDetails.day}} {{classDetails.date}}</h2>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Booked At</th>
          </tr>
        </thead>
        <tbody>
          {{#participants}}
            <tr>
              <td>{{userName}}</td>
              <td>{{userEmail}}</td>
              <td>{{bookedAt}}</td>
            </tr>
          {{/participants}}
        </tbody>
      </table>
    </div>
  </div>

  <p class="text-center mt-4">
    <a href="/organiser/classes/{{classDetails.courseId}}" class="btn btn-secondary">Back to Class</a>
  </p>
</div>

{{> footer}}