{{> header}}

<div class="container text-center mt-5">
  <h2 class="display-4">Welcome to Dance Class Central!</h2>
  <p class="lead">Explore our dance classes and find the rhythm that fits you.</p>

  <!-- Browse Courses Button -->
  <a href="/courses" class="btn btn-primary btn-lg mt-3">Browse Courses</a>

  <hr class="my-4">

  <p class="lead">Are you an existing customer or want to create an account?</p>
  <a href="/organiser/login" class="btn btn-secondary btn-lg">Login here</a>
</div>

  <hr class="my-4">
  
  <!-- "About Us" Button -->
  <div class="text-center mb-4">
    <a href="/overview" class="btn btn-success">About Us</a>
  </div>

{{> footer}}